body {
    background-color: #2ecc71; /* Green background color */
    font-family: 'Arial', sans-serif;
    color: #ffffff; /* White text color */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #27ae60; /* Darker green for the container */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#voteButton {
    background-color: #e74c3c; /* Red color for vote button */
    color: #ffffff;
  }
  
  button#resultsButton {
    background-color: #3498db; /* Blue color for results button */
    color: #ffffff;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #voteMessage, #results {
    margin-top: 20px;
    font-size: 18px;
  }
  